{{#if expenses}}
  <div class="divBtnRegistrar">
    <h2>Despesas Arquivadas:</h2>
  </div>
  <div>
    {{#each expenses}}
      <div class="container divExpenses">
        <div class="row mb-3 expenseRow">
          <div class="col-md-8">
            <div class="expensesValues">
              {{#if this.ctgFood}}
                <span class="badge food">
                  <i class="bi bi-cup-straw"></i>
                  {{this.category}}
                </span>
              {{/if}}
              {{#if this.ctgSubscriptions}}
                <span class="badge subscriptions">
                  <i class="bi bi-display"></i>
                  {{this.category}}
                </span>
              {{/if}}
              {{#if this.ctgStudies}}
                <span class="badge studies">
                  <i class="bi bi-journal-bookmark"></i>
                  {{this.category}}
                </span>
              {{/if}}
              {{#if this.ctgLeisure}}
                <span class="badge leisure">
                  <i class="bi bi-dribbble"></i>
                  {{this.category}}
                </span>
              {{/if}}
              {{#if this.ctgMarket}}
                <span class="badge market">
                  <i class="bi bi-cart4"></i>
                  {{this.category}}
                </span>
              {{/if}}
              {{#if this.ctgOther}}
                <span class="badge other">
                  <i class="bi bi-boxes"></i>
                  {{this.category}}
                </span>
              {{/if}}
              {{#if this.ctgHealth}}
                <span class="badge health">
                  <i class="bi bi-capsule-pill"></i>
                  {{this.category}}
                </span>
              {{/if}}
              {{#if this.ctgTransport}}
                <span class="badge transport">
                  <i class="bi bi-bus-front"></i>
                  {{this.category}}
                </span>
              {{/if}}
              {{#if this.ctgClothing}}
                <span class="badge clothing">
                  <i class="bi bi-bag"></i>
                  {{this.category}}
                </span>
              {{/if}}
              <p class="expenseValueList">R$-{{this.value}}</p>
            </div>
          </div>
          <div class="col-md-4">
            <div class="expensesOperations">
              <a class="btnIconOp" href="/despesas/desarquivar/{{this._id}}">
                <i class="bi bi-arrow-up-circle"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    {{/each}}
  </div>
{{else}}
  <div>
    <h2>Não há despesas arquivadas.</h2>
    <a href="/">
      <button class="btn btn-outline-secondary">
        Voltar
      </button>
    </a>
  </div>
{{/if}}