<div class="container">
  <div class="row">
    <div class="col">
      <h1>Consulta à Despesa</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-10"><p>{{expense.title}}</p></div>
    <div class="col-2"><p>{{expense.category}}</p></div>
  </div>
  <div class="row">
    <div class="col-4"><p>{{expense.date}}</p></div>
    <div class="col-4"><p>R$-{{expense.value}}</p></div>
    <div class="col-4"><p>{{expense.paymentForm}}</p></div>
  </div>
  <div class="row">
    <div class="col"><p>{{expense.description}}</p></div>
  </div>
  <div class="row">
    <div class="col"><button><a href="/">Voltar</a></button></div>
  </div>
</div>